# Build
bin/
obj/
out/
publish/
artifacts/

# VS / Rider / VS Code
.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Configs locais/sensíveis
appsettings.Local.json
appsettings.Development.json
appsettings.Production.json
.env

# Deploy / temporários
deploy.md